{% extends "blog/base.html" %}


{% block content %}
<h1>Gallery</h1>

{% for img in photos %}
<div class="col-md-6">

    <div class="card mb-3 me-3" style="width: 300px; height: 200px; border: 1px solid #ccc;
        overflow: hidden;">
        <img src="{{ img.image.url }}" class="rounded mx-auto d-block" alt = "{{ img.description}}"
             style="max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;">
    </div>
</div>
{% endfor %}



<!--<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">-->
<!--  <div class="carousel-indicators">-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--  </div>-->
<!--  <div class="carousel-inner">-->
<!--    {% for img in photos %}-->
<!--    <div class="carousel-item active">-->
<!--      <img width="300px" src="{{ img.image.url }}" alt = "{{ img.description}}">-->
<!--    </div>-->
<!--      {% endfor %}-->

<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->

{% endblock %}